# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

List popular languages for Data Science

- Python
- R
- SQL

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit
3. TensorFlow

|Data Science Tools|
|-----|
|Weka|
|Scrapy|
|Pandas|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

In [16]:
200//60

3

 This will convert 200 minutes to hours by diving by 60.

## Author

Aradhya